In [1]:
import pandas as pd

In [9]:
train_data = pd.read_csv('/Users/mac/Desktop/Myrepo/Flights-Competition/data/flights_train.csv.bz2')

In [10]:
train_data.head()

  flight_date from   to  avg_weeks     target  std_weeks
0  2012-06-19  ORD  DFW  12.875000  12.331296   9.812647
1  2012-09-10  LAS  DEN  14.285714  10.775182   9.466734
2  2012-10-05  DEN  LAX  10.863636  11.083177   9.035883
3  2011-10-09  ATL  ORD  11.480000  11.169268   7.990202
4  2012-02-21  DEN  SFO  11.450000  11.269364   9.517159

In [11]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8896 entries, 0 to 8895
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   flight_date  8896 non-null   object
 1   from         8896 non-null   object
 2   to           8896 non-null   object
 3   avg_weeks    8896 non-null   float64
 4   target       8896 non-null   float64
 5   std_weeks    8896 non-null   float64
dtypes: float64(3), object(3)
memory usage: 417.1+ KB

In [7]:
X_test = pd.read_csv('/Users/mac/Desktop/Myrepo/Flights-Competition/data/flights_Xtest.csv.bz2')
X_test.head()

  flight_date from   to  avg_weeks  std_weeks
0  2013-01-22  ATL  MCO  10.363636   8.232025
1  2013-02-22  ATL  DEN   8.294118   5.542616
2  2013-01-31  ORD  EWR   8.933333   9.407191
3  2012-11-15  DFW  ORD   9.900000   6.608607
4  2013-02-13  SEA  SFO   7.000000   4.472136